a{
	text-decoration:none;
	color:blue;
}
body{
	padding-top: 20px;
	background-color: #43CCFF;
}
#legol{
	color: white;
}
#greeting{
	font-size: 20;
}
tag{
	font-size: 20;
}
#tpu{
	color: white;
}
faceb{
	color: white;
}
blala{
	background-color: blue;
}
#counter{
	color: #1625E5;
}
#welcome{
	color: white;
}